<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sss.calculator.dao.PostRankDao" >
  <resultMap id="BaseResultMap" type="com.sss.calculator.model.PostRank" >
    <result column="POST" property="post" jdbcType="VARCHAR" />
    <result column="RANK" property="rank" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    POST, RANK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sss.calculator.model.PostRankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ERP_HR_M_POST_RANK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sss.calculator.model.PostRankExample" >
    delete from ERP_HR_M_POST_RANK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sss.calculator.model.PostRank" >
    insert into ERP_HR_M_POST_RANK (POST, RANK)
    values (#{post,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sss.calculator.model.PostRank" >
    insert into ERP_HR_M_POST_RANK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="post != null" >
        POST,
      </if>
      <if test="rank != null" >
        RANK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sss.calculator.model.PostRankExample" resultType="java.lang.Integer" >
    select count(*) from ERP_HR_M_POST_RANK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ERP_HR_M_POST_RANK
    <set >
      <if test="record.post != null" >
        POST = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null" >
        RANK = #{record.rank,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ERP_HR_M_POST_RANK
    set POST = #{record.post,jdbcType=VARCHAR},
      RANK = #{record.rank,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>